<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <& include ./particals/navbar %>

    <div class="container">
    <!-- Row of columns -->
    <%- body -%>
    </div> <!-- /container -->
    <% include ./partials/footer %>
  </body>
</html>